body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.content-container {
  margin-bottom: 2rem;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255);
  height: 9.0625rem;
  width: 100%;
  padding: 1rem 5%;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  @media screen and (min-width: 740px) {
    flex-direction: row;
    align-items: baseline;
    height: auto;
  }

  .nav-links {
    display: flex;

    li:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

main {
  padding-top: 10rem;
  width: 90%;
  margin: 0 auto;
}

.intro {
  width: 100%;

  @media screen and (min-width: 740px) {
    width: 372px;
  }

  .sm-links {
    margin-top: 1rem;
  }
}

.art-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  li {
    a img {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }
  }
}

// .blog-container,
// .post-container {
// width: 100%;
// max-width: 900px;
// margin: 0 auto;
// }

footer {
  margin: auto auto 1rem;
  text-align: left;
  width: 95%;

  p {
    margin-bottom: 1rem;
  }
}
