<div>
  <p>
    Welcome to my digital sketchbook 😊. My name is Karla and I’m an aspiring 3D artist. In an attempt to detox from social media, I decided to start this digital space so I can share my progress, document my journey and maybe even help and connect with others on a similar path.   
  </p>
  <h2>Things I love</h2>
  <p>Video games, sci-fi, reading, coding, coffee, cats, rainy days, french toast and my awesome husband.</p>
</div>

<div>
  <ul>
    <li><a href="">Twitter</a></li>
    <li><a href="">ArtStation</a></li>
</div>
