---
layout: 'base.njk'
---

<div class="art-post">
  <div>
    <h2>{{ title }}</h2>
    <p>{{ date | readableDate }}</p>
    {{ content | safe }}
  </div>
  
  <picture>
    <!-- image size: 1500px -->
    <source media="(min-width: 440px)" srcset="{{ imageMedium }}">
    <!-- image size: original size, ~ 2k -->
    <source media="(min-width: 1220px)" srcset="{{ image }}">
    <!-- image size: 1000px -->
    <img src="{{ imageSmall }}" alt="{{ altText }}">
  </picture>
</div>

<div class="post-nav">
  <a href="/">&#8592; Back to Sketchbook</a>
</div>  