
<nav>
  <div class="logo">
    <h1><a href="/">Karla Walker</a></h1>
    <p>Padawan 3D designer and illustrator</p>
  </div>
  <ul class="nav-links">
    <li class="{{ 'active' if page.url == '/' }}"><a href="/">Sketchbook</a></li>
    <li class="{{ 'active' if page.url == '/journal/' }}"><a href="/journal">Journal</a></li>
    <li class="{{ 'active' if page.url == '/about/' }}"><a href="/about">About</a></li>
  </ul>
</nav>