<section>
  {% for post in collections.blogPosts | reverse %}
  <article>
    <span>{{ post.date | readableDate }}</span>
    <div>
      <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
      <p>{{ post.data.description }}</p>
    </div>
  </article>
  {% endfor %}
</section>